#pay_bills tr: nth-child(1) input,
#pay_bills tr: nth-child(4) input{
width:25px;
}
.h3{
  font-color:#c83349;

}


td.highlight {

    background-color: whitesmoke !important;

}

table td{

  text-align: center;

      height: 3.5vh;

}

table #addRow img{

  width:30px;

  display: inline-block; 

  margin: auto;

}

#pay_bills thead th{

  font-size: 22% !important;
  text-align: center; 

}

textarea[name="comments"]{

  resize:none;

  margin-top: 3px;

}



.nav-tabs > li, .nav-pills > li {

    float:none;

    display:inline-block;

}


#pay_bills{
  width:100% !important;
}
.nav-tabs, .nav-pills {

    text-align:center;

}



.panel-heading ul{

    width:100%;

    margin: auto;

}

.panel-heading li{

    width:24%;

    font-size: 162%;

}
#pay_bills_wrapper{
  overflow-x:scroll;
}


#pagination2 {

  display: none;

}



.dataTables_info{

  display: none;

}



#pay_bills_paginate{

  display: none;

}





table.dataTable {



    font-size: 0.5vw ;

}



input[type="date"],input[type="number"],input[type="text"],select,textarea {

     width: 100%;
    height: 100%;
    font-size: 300%;

}



table.dataTable tbody td {

    padding: 2px 2px !important;

}



select[name="pay_bills_length"], input[type="search"] { 

  font-size: 100%;

}



#pay_bills_length {

  display: none;

}



div#pay_bills_filter{

  float:left;

}



#delete{

  font-size:2vw;

  color: red;

}



.dataTables_empty{

    font-size:1vw;

  color: black;

}

.other_title{

  padding: 4px 0px;

}



label{



display: none;

}



table.dataTable{

  font-size: 0.9vw;

}


  tfoot input {

        width: 100%;

        padding: 3px;

        box-sizing: sborder-box;

    }

th.type.sorting_disabled {
  width: 16%!important;
}


table.dataTable tfoot th{

    padding: 40px 18px 6px 18px;

    border-top: 2px solid #111;

    font-size: 58%;

}

  
table.dataTable tbody tr {
  font-size: 48%;
}


button[class^="btn pay_"]
{
     background-color: #69d10a; 
}

#pay_report_paginate{
margin-top: 24px;
}

#report-body{

  font-size: 207%;
}


 .tableHeaders>th{  
     font-size: 40%;
     color:white;
     background-color: #f05768;
   text-align:center;
}

tr.tableHeaders {
    font-size: 583%;
}
.functional_buttons {
    margin-top: -2%;
    width: 60%;
    margin-left: -78%;
  }


#report_body td {
    text-align: center;
}

a{
  color: black;
}



#export_button {
    margin-top: -6%;
}



#export {
    border: solid 1px;
    background-color: #5cb85c;
    height: 36px;
    color: white;
    cursor: pointer;
    width: 142%;
    border-radius: 4px;
    margin-top: 20%;

}

#wrapper {

  margin-top: -1%;
}


.datepickerBills {
    font-size: 205% !important;
}


.date{
  width: 20%;
}
.type{
  width: 10%;
}

.sum{
  width: 10%;
}
.due_d{
  width: 20%;
}
.comments{
  width: 40%;
}

.tableHeaders1>th{
     font-size: 144%;
     color:white;
     background-color: #f05768;
     text-align:center;
}

#addRow {
    background-color: #69d10a;
    color: white;
  
    margin-left: -18%;
}


#excel_pic{
  margin-top: -2%;
}

.jkjk{
  background-color:#cdf6b2;
}

.box{
   width: 75%;
}

#pay {
    margin-top: 7%;
}
#search_bills {
    margin-top: 53%;
}
@media (max-width: 768px) {

        #count-record {
          text-align: center !important;
        }

      #main-pagination{
        text-align: center !important;
        }

       .box{
           width: 100% !important;
        }


        table.dataTable {
        font-size: 1.9vw !important;;
       }

       .moduleHeader {
        margin-left: -10px !important;
        font-size: 33px;
        margin-top: 1%;
    }
    #first_nav {
    margin-left: 58%;
    font-size: 82%;
    width: 101%;
    }
    #second_nav {
    width: 99%;
    font-size: 84%;
    margin-left: 64%
    }
    
    .tableHeaders  th{
      max-width: 12% !important;
      padding: 0 4px !important;
      width:initial !important;
    }
.tableHeaders1 {
    font-size: 80% !important;
}

.functional_buttons {
    margin-left: 9%;
}


#pay_bills thead th {
    font-size: 35% !important;
    text-align: center;
}
#initial-display {
    margin-left: 0px;
}

#welcome-user {
    height: 15px;
    width: 77px;
}
input[value='Logout'] {
    height: 39px;
}


 .datepickerBills {
    font-size: 304% !important;
    width: 81%;
}
h3.bills_header {
    font-size: 110%;
    margin-left: 16%;
}
#pay_bills {
    width: 160% !important;
}

#export{
   margin-left: 26%;
    width: 116%;
}
#report_body {
    font-size: 180% !important;
}
#search_bills {
    margin-top: 33%;
}

} /*end of media query*/

.homiesTables tr {
    font-size: 90% !important;
    text-align: center;
}

#report_body {
    font-size: 116%;
}


#main-pagination{
  text-align: right;
  }

#count-record{
    text-align: left;
    padding: 1em 1em;
  }


