.h3{

	font-color:#c83349;
}

td.highlight {
    background-color: whitesmoke !important;
}
table td{
	text-align: center;
      height: 3.5vh;
}
table #addRow img{
	width:30px;
	display: inline-block; 
	margin: auto;
}
#pay_bills thead th{
	font-size: 1vw !important;
	color:black;
	text-align: center;	
}
textarea[name="comments"]{
	resize:none;
	margin-top: 3px;
}


.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.panel-heading{
    background-color: lightblue;
}
.panel-heading ul{
    width:100%;
    margin: auto;
}
.panel-heading li{
    width:24%;
    font-size: 24px;
}

#pagination2 {
  display: none;
}


.dataTables_info{
  display: none;
}

#pay_bills_paginate{
  display: none;
}


table.dataTable {

    font-size: 0.5vw ;
}

input[type="date"],input[type="number"],input[type="text"],select,textarea {
    width: 100%;
    height: 70%;
    font-size: 200%;
    
}

table.dataTable tbody td {
    padding: 2px 2px !important;
}


select[name="pay_bills_length"], input[type="search"] {
  font-size: 100%;
}

#pay_bills_length {
  display: none;
}

div#pay_bills_filter{
  float:left;
}

#delete{
  font-size:2vw;
  color: red;
}

.dataTables_empty{
    font-size:1vw;
  color: black;
}
.other_title{
  padding: 4px 0px;
}

label{

display: none;
}

table.dataTable{
  font-size: 0.9vw;
}

 #addRow{
    left: 46%;
    top: 69%;
  }   