/*center the tabs
/*http://stackoverflow.com/questions/9421966/how-do-i-center-the-twitter-bootstrap-tabs-on-the-page*/
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.panel-heading ul{
    width:100%;
    margin: auto;
}
.panel-heading li{
    width:15%;
}
.nav{
text-align: center;
}

main .task-box{
    margin: 5px 30px;
    border-radius: 5px;
    height:270px;
	background-color:lightblue;
    border:2px solid black;
    transition: all .2s ease-in-out;
    max-height: 300px;
}
main .task-box button{
    padding:5px 20px 5px 20px;
}


<!--Add chore -->
.addChore{
    display: none;
    margin-top: 15px;
}

a{
    color:inherit;
}
.form.box{
    width:49%;
    margin:0;
    display: inline-block;
    vertical-align: top;
}

.descriptionFont
{
	font-size:14px;
	font-weight:bold;
}

.formFont
{
	font-size:16px;
	font-weight:bold;
	color:black;
}

main input[type="reset"], main input[id="addChoreBtn"]{

    display: inline-block;

}

main input[type="reset"], main input[id="addPresentBtn"]{

    display: inline-block;

}

iframe{
    border-radius: 5px;
}

.newChore
{
	height:300px;
}

.addChore table *{
    margin-top:10px !important;
    font-weight: bold;
}
.addChore table td{
    font-size: 18px;
    padding-right: 5px;
    color: black;
}
.addChore table{
    margin:auto;
}
.addChore table input{
   width:100%;
}
.newPresent table input{
   width:100%;
}

.newPresent
{
	height:300px;
	max-height: 300px;
}
.addPresent table *{
    margin-top:10px !important;
    font-weight: bold;
}
.addPresent table td{
    font-size: 18px;
    padding-right: 5px;
    color: black;
}
.addPresent table{
    margin:auto;
}

.score_for_chore{
	font-weight:bold;
	font-size:25px;
	color:purple;
	margin:0px;
	padding:0px;
}

.newItemBtn
{
	width:80px;
	height:80px;
	display: block;
    cursor: pointer;
    margin:auto;
	margin-top:100px;
}



/* Responsive*/
/*------------------------------------------ Responsive Grid Media Queries - 1280, 1024, 768, 480 1280-1024 - desktop (default grid) 1024-768 - tablet landscape 768-480 - tablet 480-less - phone landscape & smaller --------------------------------------------*/
 @media screen and (min-width: 768px){
	 /* Desktop */
	main .box{
	width:75%;	
	}
	.panel-heading li{
		font-size:24px;
	}
	main #p1 .task-box{
		
	}

	 
}

 @media screen and (max-width: 480px) {
    /* smartphone */
	main{
		padding:0;
	}
	 nav .box{
		 display:none;
	 }
	main .box{
	width:100%;
	border-radius:0;
	}
	.panel-heading{
		padding:0;
	}
	.panel-heading li{
	font-size:12px;
	text-align:left;
	vertical-align:middle;
	}
	main .task-box
	{
		width:140px;
		max-height:270px;
		margin: 5px;
		padding:3px;
		display:inline-block;
		font-size:12px;
		
	}
 main .task-box h2{
	 font-size:15px;
	 font-weight:bold;
	 margin:0;
 }
 .newItemBtn
 {
	 width:70px;
	 height:70px;
	 display:inline-block;
 }
.newPresent
{
	display:inline-block;
}

main #p4 #gifts_history
{
	width:150px;
}

}
