main{
     padding-top: 25px;
}
 main h1{
     text-align: center;
     font-weight: bold;
     font-family: calibri;
     font-size: 48px;
     color:black;
}
 .nav-buttons{
     padding-left: 10%;
}
 main .container {
     margin:0 2%;
     display:inline-block;
     width:27%;
     transition: all .2s ease-in-out;
}
 main .btn-link, main .btn-link:hover{
     text-decoration: none;
     color:black !important;
     font-size: 34px;
     font-weight: bold;
}
 main .container p{
     text-align: center;
     line-height: 100%;
}
 main .image {
     margin:auto;
     opacity: 1;
     transition: .5s ease;
}
 main .middle {
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
main .btn-link .container:hover{
transform: scale(1.3);
}
main .container:hover .image {
     opacity: 0.3;

}
 main .container:hover .middle {
     opacity: 1;
}
 main .text {
    color:white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
     display: none;
     font-weight:bolder;
     font-size: 36px;
     font-family: Arial;
}
 main .row{
     margin-bottom: 3%;
     width:100%;
}
 main .container img{
     width:75%;
     
 }
 /* Responsive*/
/*------------------------------------------ Responsive Grid Media Queries - 1280, 1024, 768, 480 1280-1024 - desktop (default grid) 1024-768 - tablet landscape 768-480 - tablet 480-less - phone landscape & smaller --------------------------------------------*/
 @media screen and (min-width: 1024px){

     main .container {
         margin:0 2%;
         display:inline-block;
         transition: all .2s ease-in-out;
    }
     main .container p{
         line-height: 150px;
         text-align: center;
    }
     main .box{
         width:65%;
    }
}
 @media screen and (min-width: 768px) and (max-width: 1024px) {
     main{
         padding:0;
    }
     .box{
         width:100%;
    }
}
 @media screen and (max-width: 480px) {
    /* smartphone */
     main{
         padding:0;
    }
     main .box{
      display: block;
         height:100vh;
         width:100%;
         border-radius: 0;
    }
     .nav-buttons {
     padding-left: 1%;
}
     main .btn-link{
         text-decoration: none;
         color:black !important;
         font-size: 34px;
         font-weight: bold;
    }
     main .container {
        width:27%;
         margin:0 2%;
         display:inline-block;
         transition: all .2s ease-in-out;
    }

     main .container p{
         text-align: center;
         line-height: 10vh;
    }
     footer{
         display:none;
    }
}
