
.result_container{
     overflow-y: scroll;
     overflow-x: hidden;
	 width:100%;
	 height: 400px;
	 padding-top: 4%;
}

.circle-green {
  vertical-align: middle;
    border-radius: 50%;
    behavior: url(PIE.htc);
		width: 50px;
		height: 50px;
		background: #4caf50;
		border: 3px solid #4caf50;
		cursor: pointer;
    
}

.glyphicon-plus-custom1{
	  left: 34%;
    top: 37%;
	  color: white;
};

.recipe-row{
padding-top: 2%;
}

.nav-tabs > li, .nav-pills > li {

    float:none;

    display:inline-block;

}


.nav-tabs, .nav-pills {

    text-align:center;

}


.panel-heading li{

    width:24%;

    font-size: 162%;

}
#grocery_list_paginate {
    display: none;
}

#grocery_list_info {
    display: none;
}

#pagination2 {
    display: none;
}

.customized_alert{
	display: none;
}
.saved_alert{
    display: none;

}
.input-group[class*=col-]{
  margin:auto;
  width: 40%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 171px;
    max-height: 103px
}


.hidden {
  display:none;
}

.grocery_list{
  padding-left: 1px;
}

#buttons{
      left: -81%;
}

select[id^="unit"] {
      width: 35%;
      margin-left: 34%;

}

img[id^="img"]{
      margin-left: 10%;
}

input[id^="amount"] {
    width: 64%;
    margin-left: 19%;
}

input[id^="sorting"] {
      width: 100%;

}
table.dataTable thead th {
  border-bottom: 0;
}
table.dataTable tfoot th {
  border-top: 0;
}

.see_recipe{
      padding-bottom: 8%;
}

.cart{
	margin-top: -50%;
    margin-left: -8%;

}

.vl {
    border-left: 6px solid pink;
    height: 2em;
}

#item{

  width: 50%;
}

#amount{
  width: 20%;
}

#unit{
  width: 30%;
}


.font_heading{
color: black;

}

.glyphicon {
   font-family:'Glyphicons Halflings' !important;
}

#addRow {
  background-color: #69d10a;
    color: white;
    margin-left: 10%;
  }


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

#gif{
position: absolute;
top: 50%;
left: 50%;
margin: -50px 0px 0px -50px;
}
}

.circle-container{
    left: 4%;
}

.box{
   width: 75%;
}

.buttons_table {

}



@media (max-width: 768px) {

    .box{
       width: 100% !important;
    }

    select[id^="unit"] {
    width: 82%;
    margin-left: 2%;
    }

    #search_div{
    width: 77%;
}

#first_nav {
    margin-left: 31%;
    font-size: 70%;
    width: 109%;
}
a#second_nav {
    width: 109%;
    font-size: 69%;
    margin-left: 41%
}
.search_title {
    font-size: 93%;
}
.circle-container.col-md-1 {
    margin-left: 2%;
    margin-bottom: 1%;
}

#info_col{
      padding-top: 2%;
}
.see_recipe {
    padding-bottom: 8%;
    margin-left: 5%;
    padding-top: 3%;
}

img[id^="img"] {
    margin-left: 1%;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px;
    font-size: 75%;
}

.btn-danger{
      font-size: 12px;
}
.functional_buttons {
   width: 100%;
    margin-left: 77%;
}

}
