body{
    background:url("../img/background.png");
    background-color: gray;
    background-size: 100vh cover no-repeat fixed;
}
#logo-img{
    padding-top:0;
    float:left;
    margin-left:50px;
}
#login-nav input { 
    width: 95%;
    margin: auto;
    }
header .container{
    width:100%;
}
#signup{
    margin-top:-10px;
    padding:0;
}
header .navbar.navbar-default{
    padding-right:30px;
    height: 100%;
    margin: 0;  
    padding-top: 10px !important;
    background-color: #3b3b3b;
    padding: 0 10%;
    height: 70px;
    border:0;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color:white;
    font-weight: bolder;
    font-size: 45px;
    font-family: Mina;
    letter-spacing: 5px;
}
header .col-md-12{
    padding:0;
}
.navbar-default .navbar-nav>li>a {
    color:white;
    font-size: 18px;
}

.box nav ul{
    width:100%;
    line-height: 30px;
}
.box nav li{
    display:inline-block;
    width:24.5%;
    margin:auto;
    text-align: center;
}
.box li a{
    font-size: 24px;
    text-decoration: none;
    color:white;
    font-weight: bold;

}
.box li a:hover{
    text-decoration: none;
}
.box li:hover{
    background-color: orange;
    border-radius: 10px;
    color:purple;
}
main{
    min-height: 100%;
    margin: 0 auto -50px;    
    padding:25px 50px 50px 50px;
}
main .box{
    background-color: rgba(106,90,205,.8);
    border-radius: 15px;
    margin: auto;
    padding:5px;
    margin-bottom:25px;
    border: 3px double white;
}
.form.box{
    margin:0;
}




@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


footer{
    position:relative;
    bottom:0;
    width:100%;
    display:block;
    background-color: currentColor;
    height:50px;
}
footer ul{
    display: inline;
    text-align: center;
    margin: auto;
    width: 50%;
}
footer li{
    width:20%;
    line-height: 35px;
    display:inline-block;
    font-size: 18px;
    border-right:2px solid black;
}
footer li:hover{
    background-color: gray;
}
footer li a{
    text-decoration: none;
    color:white;
}
footer li a:hover{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
footer li a:visited{
    color:white;
}



/* Responsive*/
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media screen and (min-width: 1024px){ 

}

@media screen and (min-width: 768px) and (max-width: 1024px) { 

}

@media screen and (max-width: 480px) {   /* smartphone */
    

    main{
      padding:0;
    }
    .box{
      width:100%;
    }

    footer{
      display:none;
    }
    #top-nav{
        display:none;
    }
    .navbar-default .navbar-brand{
        font-size: 28px;
        display: none;
    }
    #logo-img{
    float: left;
    margin-left: 0;
    }
    header .navbar.navbar-default{
        padding:0;
        width:100%;
    }
    .nav.navbar-nav{
    display:inline-block !important;
    float: left;
    margin: 0;
    }

}